apiVersion: v1
kind: Service
metadata:
  name: db
spec:
  type: ClusterIP
  ports:
    - name: postgres-service
      targetPort: 5432
      port: 5432
  selector:
    app: postgres
    type: database