apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: myapp-replicaset
  labels:
    app: myapp
    type: back-end
spec:
  template:
    metadata:
      name: nginx
      labels:
        app: myapp
        type: back-end
    spec:
      containers:
        - name: nginx
          image: nginx

  replicas: 3
  selector:
    matchLabels:
      app: myapp
      type: back-end
