apiVersion: v1
kind: ReplicationController
metadata:
  name: nginx-rc
  labels:
    app: myapp
    type: front-end
spec:
  replicas: 3
  template:
    metadata:
      name: nginx
      labels:
        environment: production
        type: backend
    spec:
      containers:
      - name: nginx
        image: nginx

    